@model BibliotecaImpacta.ViewModels.EmprestadosViewModel

@{
    ViewData["Title"] = "Emprestados";
}

@foreach (var emprestimo in Model.Emprestados)
{
    var cssClass = !string.IsNullOrWhiteSpace(Model.Search) && emprestimo.Nome.Contains(Model.Search, StringComparison.InvariantCultureIgnoreCase) ? "text-info" : "";
    var cssConfirmacao = emprestimo.Confirmado == true ? "text-primary" : "text-danger";

    <div>
        <span><strong>Nome Cliente: </strong><span class="@cssClass @cssConfirmacao">@emprestimo.Nome</span></span>
        <span><strong>Nome Livro: </strong><span class="@cssClass @cssConfirmacao">@emprestimo.Livro.Nome</span></span>
        <span>
            <strong>Data Devolução: </strong>
            @if (emprestimo.DataDevolucao != null)
            {
                <span class="@cssClass @cssConfirmacao">@emprestimo.DataDevolucao</span>
            }
            else
            {
                <span class="text-warning">Dado ainda não devolvido</span>
            }
        </span>
        <a asp-action="Editar" asp-controller="Home" asp-route-Id="@emprestimo.Id">Editar</a>
        <a asp-action="Deletar" asp-controller="Home" asp-route-Id="@emprestimo.Id">Devolver</a>
    </div>
}