@model BibliotecaImpacta.Models.Cliente
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Cliente</h1>

<h3>Tem certeza que deseja excluir este Cliente?</h3>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Nome"><i class="fas fa-user"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Nome)" class="form-control" readonly />
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Telefone"><i class="fas fa-phone"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Telefone)" class="form-control" readonly />
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Endereço"><i class="fas fa-map-marker-alt"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Endereço)" class="form-control" readonly />
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Idade"><i class="fas fa-birthday-cake"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Idade)" class="form-control" readonly />
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Categoria"><i class="fas fa-tags"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Categoria.Descricao)" class="form-control" readonly />
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>